astropy
healpy
iterative-stratification
joblib
mpl-tools
numba
opencv-python-headless
pandas
photutils
PyPDF2
pyproffit
scikit-learn
seaborn
tables
tabulate
tensorflow-addons==0.18.0 
tqdm
memory_profiler
